{% extends "view_post.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block post_edit_content %}

<!-- Form to edit post -->
<div class="col main-container">
    <div class="row d-flex justify-content-center my-4">
    {% if user.is_authenticated and user == post.author %}
    <div class="post-container rounded py-2">
        <form id="postTextForm" method="post">
            <div class="row">
                {{ post_text_form | crispy }}
            </div>
        {% csrf_token %}
        <div class="row justify-content-center">
            <button id="submitButton" type="submit" style="width: 77px;"
            class="page-button rounded btn text-center">Submit</button>
        </div>
        </form>
    </div>
    {% else %}
    <h2 class="text-center">Log in to edit your post</h2>
    {% endif %}
</div>

{% endblock %}