{% extends "view_comment.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block edit_target_comment %}
<!-- Form to add new comment -->
    <div class="row d-flex justify-content-center my-4">
    {% if user.is_authenticated %}
        <div class="post-container rounded py-2">
            <form id="commentForm" method="post">
                <div class="row">
                    {{ comment_form | crispy }}
                </div>
            {% csrf_token %}
            <div class="row justify-content-center">
                <button id="submitButton" type="submit" style="width: 77px;"
                class="page-button rounded btn text-center">Submit</button>
            </div>
            </form>
        </div>
        {% else %}
        <h2 class="text-center">Log in to edit your comment</h2>
        {% endif %}
    </div>
{% endblock %}