{% extends "base.html" %}

{% block content %}
{% load static %}
<!-- Main feed content-->
<div class="content-container container-fluid">

    {% for post in post_list %}
    <!-- Post start -->
    <div class="row d-flex justify-content-center my-4">
        <article class="content-background-colour rounded px-0">

            <!-- Post header -->
            <div class="pt-2 px-3">
                <div class="row">
                    <div class="col post-header-text align-content-center">
                        <h2><span class="author-name">
                            <a class="author-profile-link" href="{% url 'user_profile' post.author.id %}">{{ post.author }}</a></span>
                            <span class="datetime">{{ post.created_on | date:'H:i | d-m-Y'}}</span></h2>
                    </div>

                    <!-- Buttons to edit, copy link and delete -->
                    <div class="col-3 d-inline-flex justify-content-end">

                        {% if user.is_authenticated and user == post.author.user %}
                        <a class="mx-1 page-button post-icon-size icon-button rounded-circle" 
                            href="{% url 'edit_post' post.id %}" aria-label="Edit post">
                            <i class="fa-regular fa-pen-to-square"></i></a>
                        {% endif %}

                        <a class="mx-1 page-button post-icon-size icon-button rounded-circle copy-link" 
                            href="{% url 'view_post' post.id %}" aria-label="Copy post link">
                            <i class="fa-regular fa-copy"></i></a>

                        {% if user.is_authenticated and user == post.author.user %}
                        <button class="mx-1 delete-post-button page-button post-icon-size icon-button rounded-circle" 
                            post_id="{{ post.id }}" aria-label="Delete post">
                            <i class="fa-regular fa-trash-can" post_id="{{ post.id }}"></i></button>
                        {% endif %}

                    </div>
                </div>

                <!-- Post text -->
                <div class="row">
                    <p class="pt-1">{{ post.text }}</p>
                </div>
            </div>

            <!-- Post photo -->
            <div class="post-image-container d-flex justify-content-center">
                <img class="img-fluid" src="{{ post.image.url }}" alt="post image">
            </div>

            <!-- Post comments -->
            {% if user.is_authenticated %}
            <div class="row justify-content-center mt-2">
                <a class="page-button rounded text-center" href="{% url 'create_comment' post.id %}" style="width: 150px;" aria-label="Create a comment">Make a comment</a>   
            </div>
            {% endif %}

            {% if post.comments.exists %}
            {% for comment in post.comments.all %}
            <!-- Comment start -->
            {% if forloop.first and user.is_authenticated %}
                <hr class="content-divider mt-2 mb-1 mx-3">
            {% endif %}
            {% if not forloop.first %}
                <hr class="content-divider mt-2 mb-1 mx-3">
            {% endif %}

            <!-- Comment header -->
            <div class="row px-3 pt-3 ">
                <div class="col comment-header-text align-content-center">
                    <h3><span class="author-name">
                        <a class="author-profile-link" href="{% url 'user_profile' comment.author.id %}">{{ comment.author.user }}</a></span>
                        <span class="datetime">{{ comment.created_on|date:'H:i | d-m-Y'}}</span></h3>
                </div>

                <!-- Buttons to edit, copy link and delete -->
                <div class="col-3 d-inline-flex justify-content-end">
                    {% if user.is_authenticated and user == comment.author.user %}
                    <a class="mx-1 page-button comment-icon-size icon-button rounded-circle" 
                        href="{% url 'edit_comment' post.id comment.id %}" aria-label="Edit comment">
                        <i class="fa-regular fa-pen-to-square"></i></a>
                    {% endif %}
                    <a class="mx-1 copy-link page-button post-icon-size icon-button rounded-circle"
                            href="{% url 'view_comment' post.id comment.id %}" aria-label="Copy comment link">
                            <i class="fa-regular fa-copy"></i></a>
                    {% if user.is_authenticated and user == comment.author.user %}
                    <button class="mx-1 delete-comment-button page-button comment-icon-size icon-button rounded-circle" 
                        comment_id="{{ comment.id }}" aria-label="Delete comment">
                        <i class="fa-regular fa-trash-can" comment_id="{{ comment.id }}"></i></button>
                    {% endif %}
                </div>
            </div>

            <!-- Comment text -->
            <div class="row px-3">
                <p class="pt-1">{{ comment.body }}</p>
            </div>

            <!-- Comment end -->
            {% endfor %}
            {% else %}
            <div class="no-comments"></div>
            {% endif %}
        </article>
    </div>
    <!-- Post end -->
    {% endfor %}

</div>

<!-- Main feed pagination -->
{% if is_paginated %}
<nav aria-label="Page navigation">
    <div class="pagination-container">
        <ul class="pagination justify-content-center">
            <!-- Prev page button -->
            {% if page_obj.has_previous %}
            <li class="mx-1">
                <a href="?page={{ page_obj.previous_page_number }}" class="page-button rounded">
                    &laquo; prev
                </a>
            </li>
            {% endif %}
            <!-- Next page button -->
            {% if page_obj.has_next %}
            <li class="mx-1">
                <a href="?page={{ page_obj.next_page_number }}" class="page-button rounded">
                     next &raquo;
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endif %}

<!-- Delete post or comment confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-1 delete-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">
                    Delete content?</h5>
                <button type="button" class="close-button icon-button"
                data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <hr class="content-divider mx-3 my-1">
            <div class="modal-body" id="deleteModalBody">
                Are you sure you want to delete your content?
                This action cannot be undone.
            </div>
            <hr class="content-divider mx-3 my-1">
            <div class="modal-footer">
                <a id="deleteConfirm" href="#" class="page-button delete-button rounded">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extras %}
    <script src="{% static 'js/enable_copy_to_clipboard.js' %}"></script>
    <script src="{% static 'js/edit_delete_modal_content.js' %}"></script>
{% endblock %}