{% extends "base.html" %}
{% load static %}


 {% block content %}

<!-- Main feed content-->
<div class="main-container container-fluid">
    {% for post in post_list %}

    <!-- Post items -->
    <div class="row d-flex justify-content-center my-4">
        <!-- Post -->
        <article class="post-container rounded px-0">
            <!-- Post text -->
            <div class="pt-2 px-3">
                <div class="row">
                    <div class="col post-header-text align-content-center">
                        <h2>{{ post.author }} | {{ post.created_on}}</h2>
                    </div>
                    <!-- Buttons to edit and delete -->
                    <div class="col-3 d-inline-flex justify-content-end">
                        {% if user.is_authenticated and user == post.author %}
                        <a class="mx-1 page-button post-icon-size icon-button rounded-circle" href="{% url 'create_comment' post.id %}" aria-label="Edit post"><i class="fa-regular fa-pen-to-square"></i></a>
                        {% endif %}
                        <a class="mx-1 page-button post-icon-size icon-button rounded-circle" href="{% url 'create_comment' post.id %}" aria-label="Create a comment"><i class="fa-regular fa-copy"></i></a>
                        {% if user.is_authenticated and user == post.author %}
                        <a class="mx-1 page-button post-icon-size icon-button rounded-circle" href="{% url 'create_comment' post.id %}" aria-label="Create a comment"><i class="fa-regular fa-trash-can"></i></a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <p class="post-text pt-1">{{ post.text }}</p>
                </div>
            </div>
            <!-- Post photo -->
            <div class="post-image-container d-flex justify-content-center">
                <img class="img-fluid" src="{{ post.image.url }}" alt="post image">
            </div>
            <!-- Post comments -->
            <div>
                {% if user.is_authenticated %}
                <div class="row justify-content-center mt-2">
                    <a class="page-button rounded text-center" href="{% url 'create_comment' post.id %}" style="width: 150px;" aria-label="Create a comment">Make a comment</a>   
                </div>
                {% endif %}
                {% if post.comments.exists %}
                {% for comment in post.comments.all %}
                <div class="row px-3">
                    <h3 class="comment-header-text pt-3 ">{{ comment.author }} | {{ comment.created_on}}</h3>
                    <p class="post-text pt-1">{{ comment.body }}</p>
                </div>
                {% endfor %}
                {% else %}
                <div class="no-comments"></div>
                {% endif %}
            </div>
        </article>
    </div>
    {% endfor %}

</div>

<!-- Main feed pagination -->
{% if is_paginated %}
<nav aria-label="Page navigation">
    <div class="pagination-container">
        <ul class="pagination justify-content-center">
            <!-- Prev page button -->
            {% if page_obj.has_previous %}
            <li class="mx-1">
                <a href="?page={{ page_obj.previous_page_number }}" class="page-button rounded">
                    &laquo; prev
                </a>
            </li>
            {% endif %}
            <!-- Next page button -->
            {% if page_obj.has_next %}
            <li class="mx-1">
                <a href="?page={{ page_obj.next_page_number }}" class="page-button rounded">
                     next &raquo;
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endif %}

{% endblock %}