{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<!-- User profile content-->
 <div class="container-fluid">
    <div class="row d-flex justify-content-evenly mt-3">
            
        <div class="col-lg-6 mx-2 content-container">
            <div class="row d-flex justify-content-center my-4">

                {% if user.is_authenticated and profile.user == user %}
                <!-- Post Edit Form container -->
                <div class="content-background-colour rounded py-2">

                    <!-- Form content -->
                    <form id="userForm" method="post">
                        <div class="row">
                            {{ user_form | crispy }}
                        </div>
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <button id="submitButton" type="submit" style="width: 77px;"
                                class="page-button rounded btn text-center">Submit</button>
                        </div>
                    </form>
                    <form id="userProfileForm" method="post">
                        <div class="row">
                            {{ user_profile_form | crispy }}
                        </div>
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <button id="submitButton2" type="submit" style="width: 77px;"
                                class="page-button rounded btn text-center">Submit</button>
                        </div>
                    </form>

                </div>

                {% else %}
                <!-- Unauthenticated users text -->
                <h2 class="text-center">Log in to edit your profile details.</h2>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<!-- Main feed pagination -->


<!-- Delete post or comment confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content delete-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">
                    Delete content?</h5>
                <button type="button" class="close-button icon-button"
                data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body" id="deleteModalBody">
                Are you sure you want to delete your content?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn
                btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extras %}
    <script src="{% static 'js/tweak_current_image.js' %}"></script>
{% endblock %}