{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<!-- User profile content-->
 <div class="container-fluid">
    <div class="row d-flex justify-content-evenly mt-3">
            
        <div class="col-lg-6 mx-2 content-container">
            <div class="row d-flex justify-content-center my-4">

                {% if user.is_authenticated and profile.user == user %}
                <!-- Post Edit Form container -->
                <div class="content-background-colour rounded py-2">

                    <!-- Form content -->
                    <form id="profileForm" method="post" enctype='multipart/form-data'>
                        <div class="row">
                            {{ user_form | crispy }}
                            {{ user_profile_form | crispy }}
                        </div>
                        {% csrf_token %}
                        <div class="row justify-content-center">
                            <button id="submitButton" type="submit" style="width: 77px;"
                                class="page-button rounded btn text-center">Submit</button>
                        </div>
                    </form>

                </div>

                {% else %}
                <!-- Unauthenticated users text -->
                <h2 class="text-center">Log in to edit your profile details.</h2>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<!-- Main feed pagination -->


<!-- Delete post or comment confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
  aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-1 delete-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">
                    This action will remove your profile picture</h5>
                <button type="button" class="close-button icon-button"
                data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <hr class="content-divider mx-3 my-1">
            <div class="modal-body" id="deleteModalBody">
                <p>Are you sure you want to remove your profile picture? 
                Once these updates are submitted this cannot be undone.</p>
                <p>Please confirm profile picture removal below.</p>
            </div>
            <hr class="content-divider mx-3 my-1">
            <div class="modal-footer d-flex justify-content-center">
                <button id="deleteUndo" class="page-button delete-button rounded border-0 mx-2">Undo Removal</button>
                <button id="deleteConfirm" class="page-button delete-button rounded border-0 mx-2" data-bs-dismiss="modal">Confirm Removal</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extras %}
    <script src="{% static 'js/extend_profile_form_image_content.js' %}"></script>
    <script src="{% static 'js/add_remove_image_logic.js' %}"></script>
{% endblock %}