/* CSS Variables */
:root {
    --brand-primary-colour: #ff9524; /* Primary orange used in logo and site styling */
    --brand-primary-colour-dimmed: #ff952480; /* Primary orange at 50% opacity */
    --brand-secondary-colour: #f7bc7e; /* Lighter orange used in logo */ 
    --background-black: #141414; /* Black background */
    --primary-grey-colour: #252525; /* Primary grey used on most content backgrounds */
    --secondary-grey-colour: #090909; /* Secondary grey */
    --delete-red-colour: #ff3924;
    --logo-text-size: 1.6rem;
}


/* Global styles */
body {
    background-color: var(--background-black);
    color:white;
    margin-top: 65px;
}

main {
    margin-bottom: 50px;
}

h1 {
    font-size: 1.8rem;
}


/* Content conatiner styles */
.content-divider {
    color: var(--brand-primary-colour);
}

.content-container {
    width: 92vw;
    padding-bottom: 8px;
}

.content-background-colour {
    background-color: var(--primary-grey-colour);
    box-shadow: 0px 1px 1px 1px rgba(37, 37, 37, 0.269);
}

.post-image-container {
    background-color: var(--secondary-grey-colour);
}

.pagination-container {
    padding-bottom: 10px;
}

.profile-image-container {
    background-color: var(--background-black);
    border: 2px solid var(--brand-primary-colour-dimmed);
    aspect-ratio: 1 / 1;
}


/* Button styling */
.page-button,
.page-button:active,
.page-button:focus,
.page-button:visited {
    background-color: var(--primary-grey-colour);
    color: var(--brand-primary-colour);
    text-decoration: none;
    display: block;
    padding: .375rem .75rem;
}

.page-button:hover {
    background-color: var(--brand-primary-colour);
    color: var(--primary-grey-colour);
}

#sign-up,
#sign-in {
    color: var(--brand-primary-colour);
    text-decoration: none;
}

#sign-up:hover
#sign-in:hover {
    color: #ff9524b9;
}


/* Navbar styling */
#navbar {
    background-color: var(--primary-grey-colour);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.navbar-icon-size {
    width: 36px;
    height: 36px;
}


/* Brand logo styling */
#nav-logo-food {
    color: var(--brand-primary-colour);
    font-size: var(--logo-text-size);
    font-weight: 350;
}

#nav-logo-feed {
    color: var(--brand-secondary-colour);
    font-size: var(--logo-text-size);
    font-weight: 700;
}


/* Navbar icons */
#user-icon {
    font-size: 1.5rem; 
}

#create-icon {
    font-size: 1.7rem; 
}


/* Post styling */
.post-header-text h2 {
    font-size: 1.2rem;
    margin: 0;
    font-weight: 600;
    display: inline-block;
}

.comment-header-text h3 {
    font-size: 1.1rem;
    margin: 0;
    font-weight: 600;
    display: inline-block;
}

.author-profile-link,
.author-profile-link:visited,
.author-profile-link:active {
    color: white;
    text-decoration: none;
    display: inline;
}

.author-profile-link:hover {
    color: white;
    text-decoration: underline;
}

.author-name {
    display: inline;
}

.author-name::after {
    content: ' ';
    letter-spacing: 1em;
    background: radial-gradient(circle at center center, white, white 10%, transparent 0%);
    padding-bottom: 6px;
}

.post-header-text h2 .datetime,
.comment-header-text h3 .datetime {
    font-size: 0.95rem;
    text-wrap: nowrap;
}

.post-icon-size {
    width: 28px;
    height: 28px;
}

.delete-post-button, .delete-comment-button {
    border: none;
}

.comment-icon-size {
    width: 28px;
    height: 28px;
}

.no-comments {
    height: 0.6rem;
}


/* Profile styling */
.profile-name h1 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 600;
}

.profile-bio h2 {
    font-size: 1rem;
}

.profile-image-square {
    width:100%;
    height:100%;
    object-fit:cover;
}


/* Modal styling */
.delete-modal {
    background-color: var(--primary-grey-colour);
    color: white;
}

.delete-modal .close-button {
    color:var(--brand-primary-colour);
    background: none;
    border: none;
}

.delete-button,
.delete-button:active,
.delete-button:focus,
.delete-button:hover,
.delete-button:visited {
    background-color: var(--delete-red-colour);
    border-color: var(--delete-red-colour);
    color: white
}

.delete-modal .close-button:hover,
.delete-button:hover {
    filter: brightness(120%);
}

.modal-header,
.modal-footer {
    border: none;
}

#deleteUndo {
    background-color: rgb(62, 147, 62);
}


/* Icon button centering */
/* needs to go last to ensure centering applies after individual size changes */
.icon-button,
.icon-button:focus,
.icon-button:active {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media queries */

/* Media query: medium-large phones (420px and up) */
@media screen and (min-width: 420px) {
    .content-container {
        min-width: 385px;
        max-width: 95vw;
    }
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    .content-container {
        max-width: 530px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .content-container {
        min-width: 530px;
        max-width: 60vw;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .content-container {
        max-width: 595px;
    }
}