/* CSS Variables */
:root {
    --brand-primary-colour: #ff9524; /* Primary orange used in logo and site styling */
    --brand-primary-colour-dimmed: #ff952480; /* Primary orange at 50% opacity */
    --brand-secondary-colour: #f7bc7e; /* Lighter orange used in logo */ 
    --background-black: #141414; /* Black background */
    --primary-grey-colour: #252525; /* Primary grey used on most content backgrounds */
    --secondary-grey-colour: #383838; /* Secondary grey */
    --delete-red-colour: #ff3924;
    --logo-text-size: 1.6rem;
}


/* Global styles */
body {
    background-color: var(--background-black);
    color:white;
}

main {
    margin-bottom: 50px;
}

/* Content conatiner styles */
.content-divider {
    color: var(--brand-primary-colour);
}

.content-container {
    max-width: 350px;
    padding-bottom: 8px;
}

.content-background-colour {
    background-color: var(--primary-grey-colour);
}

.post-image-container {
    background-color: var(--secondary-grey-colour);
}

.pagination-container {
    padding-bottom: 10px;
}

.profile-image-container {
    background-color: var(--background-black);
    border: 2px solid var(--brand-primary-colour-dimmed);
}

/* Button styling */
.page-button,
.page-button:visited,
.page-button:focus,
.page-button:active {
    background-color: var(--primary-grey-colour);
    color: var(--brand-primary-colour);
    text-decoration: none;
    display: block;
    padding: .375rem .75rem;
}

.page-button:hover {
    background-color: var(--brand-primary-colour);
    color: var(--primary-grey-colour);
}


/* Navbar styling */

#navbar {
    background-color: var(--primary-grey-colour);
}

.navbar-icon-size {
    width: 36px;
    height: 36px;
}


/* Brand logo styling */

#nav-logo-food {
    color: var(--brand-primary-colour);
    font-size: var(--logo-text-size);
    font-weight: 350;
}

#nav-logo-feed {
    color: var(--brand-secondary-colour);
    font-size: var(--logo-text-size);
    font-weight: 700;
}


/* Navbar icons */

#user-icon {
    font-size: 1.5rem; 
}

#create-icon {
    font-size: 1.7rem; 
}


/* Post styling */

.post-header-text h2 {
    font-size: 1.2rem;
    margin: 0;
    font-weight: 600;
}

.comment-header-text h3 {
    font-size: 1.1rem;
    margin: 0;
    font-weight: 600;
}

.post-header-text h2 span,
.comment-header-text h3 span {
    font-size: 0.95rem;
}

.post-icon-size {
    width: 28px;
    height: 28px;
}

.delete-post-button, .delete-comment-button {
    border: none;
}

.comment-icon-size {
    width: 28px;
    height: 28px;
}

.no-comments {
    height: 0.6rem;
}


/* Profile styling */
.profile-name h1 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 600;
}

.profile-bio h2 {
    font-size: 1rem;
}

/* Modal styling */
.delete-modal {
    background-color: var(--primary-grey-colour);
    color: white;
}

.delete-modal .close-button {
    color:var(--brand-primary-colour);
    background: none;
    border: none;
}

.delete-button,
.delete-button:visited,
.delete-button:hover,
.delete-button:active {
    background-color: var(--delete-red-colour);
    border-color: var(--delete-red-colour);
    color: white
}

.delete-modal .close-button:hover,
.delete-button:visited,
.delete-button:hover,
.delete-button:active  {
    filter: brightness(120%)
}

.modal-header,
.modal-footer {
    border: none;
}


/**
.delete-modal .modal-header {
    border-bottom: 1px solid var(--brand-primary-colour-dimmed);
}

.delete-modal .modal-footer {
    border-top: 1px solid var(--brand-primary-colour-dimmed);
}
*/

/* Icon button centering */
/* needs to go last to ensure centering applies after individual size changes */
.icon-button,
.icon-button:focus {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media queries */

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    .content-container {
        max-width: 400px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .content-container {
        max-width: 500px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .content-container {
        max-width: 600px;
    }
}