{% extends "view_post_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block view_target_comment %}

<!-- Content container -->
<div class="col-lg-6 mx-2 content-container">
    <div class="row d-flex justify-content-center my-4">

        <!-- Comment container -->
        <div class="content-background-colour rounded px-0 py-1">

            <!-- Comment header -->
            <div class="row px-3 pt-3 ">
                <div class="col comment-header-text align-content-center">
                    <h3><span class="author-name">
                        <a class="author-profile-link" href="{% url 'user_profile' comment.author.id %}">{{ comment.author.user }}</a></span>
                        <span class="datetime">{{ comment.created_on|date:'H:i | d-m-Y'}}</span></h3>
                </div>
            </div>

            <!-- Comment text -->
            <div class="row px-3">
                <p class="pt-1">{{ comment.body }}</p>
            </div>

        </div>

    </div>

    <!-- Interaction content goes here -->
    {% block edit_target_comment %}
    {% endblock edit_target_comment %}
    
</div>

{% endblock %}