{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Post view and interaction options -->
<div class="container-fluid">

    <div class="row d-flex justify-content-evenly mt-3">
        <!-- Show signed in users a message depending on interaction type -->
        {% if user.is_authenticated %}
        <div class="col-12 text-center">
            <!-- Create comment greeting -->
            {% with create_comment_url='create-comment' %}
            {% if create_comment_url in request.path %}
            <h2>Comment on this post!</h2>
            {% endif %}
            {% endwith %}
            <!-- Edit post greeting-->
            {% with edit_post_url='edit-post' %}
            {% if edit_post_url in request.path and user == post.author %}
            <h2>Edit this post!</h2>
            {% endif %}
            {% endwith %}
        </div>
        {% endif %}
        <!-- Post -->
        <div class="col main-container">
            <div class="row d-flex justify-content-around my-4">
                <article class="post-container rounded px-0">
                    <!-- Post text -->
                    <div class="pt-2 px-3">
                <div class="row">
                    <div class="col post-header-text align-content-center">
                        <h2>{{ post.author }} | {{ post.created_on}}</h2>
                    </div>
                </div>
                <div class="row">
                    <p class="post-text pt-1">{{ post.text }}</p>
                </div>
            </div>
                    <!-- Post photo -->
                    <div class="post-image-container d-flex justify-content-center">
                        <img class="img-fluid" src="{{ post.image.url }}" alt="post image">
                    </div>
                    <!-- Post comments -->
                    <div class="comment-container">
                        {% if post.comments.exists %}
                        {% for comment in post.comments.all %}
                        <div class="row px-3">
                            <h3 class="comment-header-text pt-3 ">{{ comment.author }} | {{ comment.created_on}}</h3>
                            <p class="post-text pt-1">{{ comment.body }}</p>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="no-comments"></div>
                        {% endif %}
                    </div>
                </article>
            </div>
        </div>
        {% block view_target_comment %}
        {% endblock view_target_comment%}

        {% block add_comment_content %}
        {% endblock add_comment_content %}

        {% block post_edit_content %}
        {% endblock post_edit_content %}
    </div>

</div>
{% endblock %}